<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valentine Lock Screen</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div id="lock-screen">
        <div class="lock-container">
            <div class="pin-display">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <div class="pin-grid">
                <button onclick="pressPin(1)">1</button>
                <button onclick="pressPin(2)">2</button>
                <button onclick="pressPin(3)">3</button>
                <button onclick="pressPin(4)">4</button>
                <button onclick="pressPin(5)">5</button>
                <button onclick="pressPin(6)">6</button>
                <button onclick="pressPin(7)">7</button>
                <button onclick="pressPin(8)">8</button>
                <button onclick="pressPin(9)">9</button>
                <button onclick="pressPin(0)">0</button>
            </div>
            <p id="pin-msg">Nhập ngày kỷ niệm của chúng mình (bat mi la ngay iu nha)❤️</p>
        </div>
    </div>

    <div id="main-content" style="display: none;">
        <div class="container">
            <h1>Happy Valentine, My Love ❤️</h1>
            <p>Oi em iu quynh trang siu quaaaa</p>
            <br>
            <a href="/letter" class="btn-valentine">Bấm vào đây xem cai nay hay lammmm</a>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>